<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"

        android:networkSecurityConfig="@xml/network_security_config"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNPMNC_AppFood">

        <activity android:name=".MainActivity"
            android:exported="false"/>

        <!-- === BẮT ĐẦU SỬA ĐỔI === -->
        <activity
            android:name=".CheckoutActivity"
            android:label="Xác Nhận Đơn Hàng"
            android:launchMode="singleTop"
            android:exported="true"> <!-- THÊM: Bắt buộc cho Android 12+ vì có intent-filter -->

            <!-- THÊM BỘ LỌC DEEP LINK NÀY VÀO -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Đây là URL tùy chỉnh: cnpmapp://checkout -->
                <data android:scheme="cnpmapp" android:host="checkout" />
            </intent-filter>

        </activity>
        <!-- === KẾT THÚC SỬA ĐỔI === -->

        <activity android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>

