@model int 

@* Model là số lượng món ăn hoạt động (activeItemCount) *@

<footer class="text-center mt-5 mb-4 text-muted text-white">
    
    <span class="fw-bold p-1">
        © 2025 FastFood | CEO: Đinh Hoàng Lâm, Trần Minh Hoàng, Nguyễn Trọng Nghĩa, Dương Trọng Nhân |
        Số lượng món ăn hiện có là: @Model
    </span> 
    
</footer>